<!DOCTYPE html>
<html  lang="ro">
    <head>
        <script type="text/javascript" src="/resurse/js/produse.js"></script>
        <%- include("../fragmente/head") %>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header") %>
        </header>
        <main>
            <h1>Filtre</h1>
            <div id="filtre">
                <div id="div-nume">
                    <label for="inp-nume">Nume</label>
                    <input type="text" id="inp-nume">
                </div>
                <div id="div-ocazie">
                    <span>Ocazie</span>
                    <ul id="ul-radio">
                        <li><label>
                            <input id="i_rad0" checked name="gr_rad" value="toate" type="radio">
                            toate
                        </label></li>
                        <li><label>
                            <input id="i_rad1"  name="gr_rad" value="nunta" type="radio">
                            nunta
                        </label></li>
                        <li><label>
                            <input id="i_rad2"  name="gr_rad" value="1-8 martie" type="radio">
                            1-8 martie
                        </label></li>
                        <li><label>
                            <input id="i_rad3" name="gr_rad" value="onomastica" type="radio">
                            onomastica
                        </label></li>
                        <li><label>
                            <input id="i_rad4" name="gr_rad" value="Valentine's Day" type="radio">
                            Valentine's Day
                        </label></li>
                        <li><label>
                            <input id="i_rad5" name="gr_rad" value="diverse" type="radio">
                            diverse
                        </label></li>
                    </ul>
                </div>
                <div id="div-fire">
                    <label for="inp-fire">Numar minim de fire</label>
                    <span>0 </span><input type="range" id="inp-fire" value="0" min="0" max="33"><span> 33</span><span id="infoRange"> (0)</span>
                </div>
                
                <div id="div-pret">
                    <label for="sel-pret">Categorii pret</label>
                    <select id="sel-pret" multiple>
                        <option id="sel-toate-pret" selected value="toate">oricare</option>
                        <option value="0-50">&lt; 50</option>
                        <option value="50-100">50-100</option>
                        <option value="100-200">100-200</option>
                        <option value="200-300">&gt; 200</option>
                    </select>
                </div>
               
                <div id="div-livrare">
                    <label for="inp-livrare">Ridicare personala</label>
                    <input list="livrare" id="inp-livrare">
                    <datalist id="livrare">
                        <option value="Da">Da</option>
                        <option value="Nu">Nu</option>
                    </datalist>
                </div>

                <div id="div-culoare">
                    <span>Culoare flori</span>
                    <ul id="ul-checkbox">
                        <li><label>
                            <input type="checkbox" id="i_ch0" checked name="gr_ch" value="toate">toate
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch1" name="gr_ch" value="galben">galben
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch2" name="gr_ch" value="portocaliu">portocaliu
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch3" name="gr_ch" value="multicolor">multicolor
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch4" name="gr_ch" value="rosu">rosu
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch5" name="gr_ch" value="verde">verde
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch6" name="gr_ch" value="violet">violet
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch7" name="gr_ch" value="roz">roz
                        </label></li>
                        <li><label>
                            <input type="checkbox" id="i_ch8" name="gr_ch" value="alb">alb
                        </label></li>
                    </ul>
                </div>
                <div id="div-flori">
                    <label for="sel-flori">Flori continute</label>
                    <select id="sel-flori">
                        <option id="sel-toate-flori" selected value="oricare">oricare</option>
                        <option value="trandafir">trandafir</option>
                        <option value="gypsophila">gypsophila</option>
                        <option value="bujor">bujor</option>
                        <option value="crizantema">crizantema</option>
                        <option value="margareta">margareta</option>
                        <option value="garoafa">garoafa</option>
                        <option value="dalie">dalie</option>
                        <option value="craciunita">craciunita</option>
                        <option value="crizantema">crizantema</option>
                        <option value="cactus">cactus</option>
                        <option value="frezie">frezie</option>
                        <option value="lalea">lalea</option>
                        <option value="craspedia">craspedia</option>
                    </select>
                </div>
                <div id="div-descriere">
                    <label for="txt-descriere">Descriere</label>
                    <textarea id="txt-descriere" rows="3" cols="50" placeholder="Adaugati '+' in fata unui cuvant daca doriti sa se regaseasca in descriere, iar '-' in caz contrar"></textarea>
                </div>
                <p id="p-suma"></p>
                <p id="butoane-filtre">
                    <button id="filtrare" class="btn text-light bg-primary">Filtreaza</button>
                    <button id="resetare" class="btn text-light bg-primary">Reseteaza</button>
                    <button id="calculare" class="btn text-light bg-primary">Calculeaza pret</button><br>
                    <button id="sortCrescNume" class="btn text-light bg-primary">Sorteaza &uarr; dupa pret si culoare</button>
                    <button id="sortDescrescNume" class="btn text-light bg-primary">Sorteaza &darr; dupa pret si culoare</button> 
                </p>
            </div>
            <section id="produse">
                <h1>Produse</h1>
                <p id="fara-produse">Nu exista produse conform filtrelor selectate</p>
                <div class="grid-produse">
                    <% for(let prod of locals.produse) { %>
                        <article class="produs">
                            <h2 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h2>
                            <div>
                                <figure>
                                    <a href="/produs/<%-prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:75%;height:auto;" alt="[imagine <%- prod.nume %>]"></a>
                                </figure>
                                <p class="categorie">Ocazie: <span class="val-categorie"><%- prod.ocazie%></span></p>
                                <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p>
                                <p class="detalii">Detalii produs:</p>
                                <ul class="info-prod">
                                    <li>Pret: <span class="val-pret"><%- prod.pret%></span> ron</li>
                                    <li>Numar fire: <span class="val-fire"><%- prod.num_fire%></span></li>
                                    <li>Culoare: <span class="val-culoare"><%- prod.culoare%></span></li>
                                    <li>Flori: <span class="val-flori"><%- prod.flori_continute%></span></li>
                                    <li>Data adaugarii: <time class="val-data"><%- prod.data_adaugare%></time></li>
                                    <li>Ridicare personala: <span class="val-livrare"><%- prod.ridicare_personala%></span></li>
                                </ul>
                                <p class="cos">Adauga in cos: </p>
                                <label class="selecteaza-cos">
                                    <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                </label>
                            </div>
                        </article>
                    <% }%>
                </div>
            </section>
            <%- include("../fragmente/link-top.ejs"); %>
        </main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
</html>